body {
    margin: 0;
    font-family:Helvetica;
}
h1 {
    color:purple;
    text-shadow: 2px 2px 2px grey;
    text-align: center;
}

.contenidor {
    width: 1280px;
    margin: auto;
}

.cap{
    height: 120px;
}

.cos {
    overflow: auto;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    height: 800px;
}

.peu {
    background-color: black;
    height: 300px
}

li {
    height: 50px;
    width: 180px;
    margin: 10px;
    float: left;
}
.esquerra, .centre, .dreta {
    width: 20%;
    float: left;
}
.esquerra {
}

.centre {
    width: 60%;
    overflow: scroll;
    background-color: purple;
    color: white;
    height: 600px;
}

.dreta {
}

p {
    text-indent: 50px;
    padding: 10px;
}